mixin head(page_title)
    include ../../component/icon/index.pug
    include ../../component/flags/index.pug
    include ../../component/tags/index.pug
    head
        meta(charset='UTF-8')
        meta(name='viewport', content="width=device-width,  user-scalable=no")
        title #{page_title}
        link(rel="stylesheet", href="style/libs.min.css")
        link(rel="stylesheet", href="style/main.css")